/* style the tab content */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
.tablink:hover {
    background-color: #777;
}
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}
/* style page content */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
.contentlink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;  
}
.contentlink:hover {
    background-color: #777;
}
.content {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}
/* styling slideshow */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
/* default hide images */
.mySlides {
    display: none;
}
/* style next and previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/* position the next button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0.8);
}
/* caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* slideshow dots */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/* slideshow fade */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}
#Main {background-color:red;}
#Credentials {background-color:green;}
#Resume {background-color:blue;}
#Projects {background-color:orange;}

#MainContent {color:red;}
#CredentialsContent {color:green;}
#ResumeContent {color:blue;}
#ProjectsContent {color:orange;}
