body {font-family: "Lato", sans-serif;}
/* style the tab content */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
.tablink:hover {
    background-color: #777;
}
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
/* go from zero to full opacity */
/* style each tab content individually */
#Main Site {background-color:red;}
#Credentials {background-color:green;}
#Resume {background-color:blue;}
#Projects {background:orange;}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}