/* style the tab content */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
.tablink:hover {
    background-color: #777;
}
.tabs {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}
/* style content*/
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
.content {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%
}
#Main {background-color:red;}
#Credentials {background-color:green;}
#Resume {background-color:blue;}
#Projects {background-color:orange;}
